<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T9J2RH0SRC"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-T9J2RH0SRC');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
    <!-- 이모티콘  CDN -->
    <script src="https://kit.fontawesome.com/6dca3e9c71.js" crossorigin="anonymous"></script>

   
    <!-- 폰트 설정 CDN -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap" rel="stylesheet">
    
    <!-- CSS import -->
    <link rel="stylesheet" href="/css/clientInfo.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">

    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Palette+Mosaic&display=swap" rel="stylesheet">
    
    <!-- favicon -->
    <link rel="shortcut icon" href="/img/favicon.png">
    
    <title>아트인포 | 회원가입</title>
</head>
<body>
    <header id="header">
        <div class="desktopHeader">
            <div class="logo">
                <a href="/">ARTINFO</a>
            </div>
            <nav>
                <li><a href="/about">소개</a></li>
                <li><a href="/recruit_art/all">채용정보</a></li>
            </nav>
            <div id="login" class="login">
                <% if( login != null ) { %>
                    <% if( login === "admin" ) { %>
                        <div class="name"><%= login %>&nbsp</div>
                        <a href="/admin"><i class="fa-solid fa-gear"></i></a>
                        <a class="logout" href="/logout">logout</a>
                    <% } else { %>
                        <div class="name"><%= login %></div>
                        <a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                    <% } %>    
                <% } else { %>
                    <a class="loginText" href="/login">로그인</a>
                <% } %>
            </div>
        </div>    
    
        <div class="mobileHeader">     
            <% if( login != null ) { %>  
                <nav>
                    <i class="fa-solid fa-bars" onclick="clickMenu()"></i>
                </nav>
                <div class="logo">
                    <a href="/">ARTINFO</a>
                </div>
                <div class="login"><a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></div>
            <% } else { %> 
                <nav>
                    <i class="fa-solid fa-bars" onclick="clickMenu()"></i>
                </nav>
                <div class="logo">
                    <a href="/">ARTINFO</a>
                </div>
                <div class="login"><a href="/login"><i class="fa-regular fa-user"></i></a></div>
            <% } %>            
        </div>
        <div id="mobileMenu" class="mobileMenu"> 
            <a href="/">Home</a>
            <a href="/about">소개</a>
            <a href="/recruit_art/all">채용정보</a>
        </div> 
    </header>
    
    <section class="section" id="section">
        <div class="title">고객 정보</div>
        <article class="article" id="article">
            <div  id="content">
                <table>
                    <tbody>
                        <tr>
                            <td>성명</td>
                            <td>임성준</td>
                        </tr>
                        <tr>
                            <td>아이디</td>
                            <td>choral</td>
                        </tr>
                        <tr>
                            <td>비밀번호</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>비밀번호 재확인</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>이메일</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>성별</td>
                            <td>남자</td>
                        </tr>
                        <tr>
                            <td>생년월일</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>휴대폰</td>
                            <td><input type="text"></td>
                        </tr>
                    </tbody>
                </table>
            </div>                
        </article>   
    </section>
    
    <footer id="footer">   
        <div class="ad_fit1">
            <ins class="kakao_ad_area" style="display:none;" 
            data-ad-unit    = "DAN-PgHV76O2ZNxrnKWW" 
            data-ad-width   = "320" 
            data-ad-height  = "50"></ins> 
        </div>     
        <div class="footerText">문의 : chorales@naver.com</div>       
        <div class="ad_fit2">
            <ins class="kakao_ad_area" style="display:none;" 
            data-ad-unit    = "DAN-27ykCGeamZlU7nSD" 
            data-ad-width   = "320" 
            data-ad-height  = "50"></ins> 
        </div>
    </footer>

    <!-- JS import -->
    <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="/js/signup.js"></script>
</body>
</html>