<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T9J2RH0SRC"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-T9J2RH0SRC');
    </script>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  

    <!-- CSS import -->
    <link rel="stylesheet" href="/css/error.css">

    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Palette+Mosaic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap" rel="stylesheet">

    <!-- favicon -->
    <link rel="shortcut icon" href="#">

    
    <title>ARTINFO</title>
</head>
<body>
    <header>
        <div class="logo"><a href="/">ARTINFO</a></div>
    </header>
    <section>
        <div class="mainHigh">
            <p>죄송합니다.</p>
            <p>요청하신 페이지를 찾을 수 없습니다.</p>
        </div>
        <div class="mainCenter">
            <p>방문하시려는 페이지의 주소가 잘못 입력되었거나,</p>
            <p>페이지의 주소가 변경 혹은 삭제되어 요청하신 페이지를 찾을 수 없습니다.</p>
            <p>입력하신 주소가 정확한지 다시 한번 확인해 주시기 바랍니다.</p>
            <br/>
            <p>감사합니다.</p>
        </div>
    </section>

    <footer id="footer">
        <div>문의 : chorales@naver.com</div>
    </footer>
</body>
</html>