<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T9J2RH0SRC"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-T9J2RH0SRC');
    </script>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
    <!-- 이모티콘  CDN -->
    <script src="https://kit.fontawesome.com/6dca3e9c71.js" crossorigin="anonymous"></script>
   
    <!-- 폰트 설정 CDN -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap" rel="stylesheet">
    
    <!-- CSS import -->
    <link rel="stylesheet" href="/css/recruit_religion_write.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">

    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Palette+Mosaic&display=swap" rel="stylesheet">
    
    <!-- favicon -->
    <link rel="shortcut icon" href="#">

    <title>아트인포 | 채용정보</title>
</head>
<body>    
    <header id="header">
        <div class="desktopHeader">
            <div class="logo">
                <a href="/">ARTINFO</a>
            </div>
            <nav>
                <li><a href="/about">소개</a></li>
                <li><a href="/recruit_art/all">채용정보</a></li>
            </nav>
            <div id="login" class="login">
                <% if( login != null ) { %>
                    <% if( login === "admin" ) { %>
                        <div class="name"><%= login %>&nbsp</div>
                        <a href="/"><i class="fa-solid fa-house-user"></i></i></a>
                        <a class="logout" href="/logout">logout</a>
                    <% } else { %>
                        <div class="name"><%= login %></div>
                        <div class="bar">&nbsp&nbsp&nbsp | &nbsp&nbsp</div>
                        <a class="logout" href="/logout">logout</a>
                    <% } %>    
                <% } else { %>
                    <a class="loginText" href="/login">로그인</a>
                <% } %>
            </div>
        </div>    
    
        <div class="mobileHeader">     
            <% if( login != null ) { %>  
                <nav>
                    <i class="fa-solid fa-bars" onclick="clickMenu()"></i>
                </nav>
                <div class="logo">
                    <a href="/">ARTINFO</a>
                </div>
                <div class="login"><a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></div>
            <% } else { %> 
                <nav>
                    <i class="fa-solid fa-bars" onclick="clickMenu()"></i>
                </nav>
                <div class="logo">
                    <a href="/">ARTINFO</a>
                </div>
                <div class="login"><a href="/login"><i class="fa-regular fa-user"></i></a></div>
            <% } %>            
        </div>
        <div id="mobileMenu" class="mobileMenu"> 
            <a href="/">Home</a>
            <a href="/about">소개</a>
            <a href="/recruit_art/all">채용정보</a>
        </div> 
    </header>
    <section class="section" id="section">
        <div class="title">글쓰기</div>
        <article class="article">
            <form action="/recruit_religion/write" class="contentBack" method="post" onSubmit="return confirm('공고를 등록하시겠습니까?')">
                <div class="titleBack">
                    <p>제 목</p>
                    <input id="mainTitle" type="text" name="title"/>
                </div>
                <div class="contentDetail">
                    <div class="contentDetailLeft">
                        <div class="expertBack">
                            <p>분야</p>
                            <select class="expert" name="expert">
                                <option>분야</option>
                                <option value="지휘자">지휘자</option>
                                <option value="솔리스트">소프라노</option>
                                <option value="솔리스트">알토</option>
                                <option value="솔리스트">테너</option>
                                <option value="솔리스트">베이스</option>
                                <option value="반주자">반주자</option>                                
                            </select>
                        </div>
                        <div class="typeBack">
                            <p>분류</p>
                            <select class="type" name="type">
                                <option>분류</option>
                                <option value="기독교">기독교</option>
                                <option value="천주교">천주교</option>
                                <option value="불교">불교</option>
                                <option value="기타">기타</option>
                            </select>
                        </div>
                        <div class="salary">
                            <div class="selectSalary">
                                <p>급여</p>
                                <select id="salaryType" name="salaryType">
                                    <option>선택</option>
                                    <option value="협의 후 결정">협의 후 결정</option>
                                    <option id="direct" value="won">직접 입력</option>
                                </select>   
                            </div>
                            <div id="inputSalary" class="inputSalary">
                                <input type="text" name="direct" onKeyup="inputNumberAutoComma(this);" value="" >  
                                <p>원</p>
                            </div>                                                                              
                        </div>
                    </div>
                    <div class="contentDetailRight">
                        <div class="contentDetailRightUp">
                            <div class="name">
                                <p>단체명</p>
                                <input type="text" name="name"/>
                            </div>
                            <div class="phonenumber">
                                <p>연락처</p>
                                <input type="number" maxlength="11" oninput="maxLengthCheck(this)" id="phonenumber" onfocus="this.placeholder = ''" onblur="this.placeholder = '숫자만 입력해주세요.'" name="phonenumber" onkeydown="javascript: return event.keyCode == 69 ? false : true" placeholder="숫자만 입력해주세요."/>
                            </div>
                        </div>
                        <div class="contentDetailRightMiddle">
                            <p>주소</p>
                            <input type="text" name="address"/>
                        </div>
                        <div class="contentDetailRightBottom">
                            <p>이메일</p>
                            <input type="text" name="email"/>
                        </div>                     
                    </div>                    
                </div>                
                <div class="contentMain">
                    <p>내 용</p>
                    <textarea spellcheck="false"  id="textarea" name="contentMain"></textarea>
                </div>
                <div class="saveBack">
                    <button id="save" disabled>저 장</button>
                </div>
            </form>
            <form action="/recruit_religion/all" class="cancelBack">
                <button>취 소</button>
            </form>
        </article>
    </section>
    
    <footer id="footer">   
        <div class="ad_fit1">
            <ins class="kakao_ad_area" style="display:none;" 
            data-ad-unit    = "DAN-PgHV76O2ZNxrnKWW" 
            data-ad-width   = "320" 
            data-ad-height  = "50"></ins> 
        </div>     
        <div class="footerText">문의 : chorales@naver.com</div>       
        <div class="ad_fit2">
            <ins class="kakao_ad_area" style="display:none;" 
            data-ad-unit    = "DAN-27ykCGeamZlU7nSD" 
            data-ad-width   = "320" 
            data-ad-height  = "50"></ins> 
        </div>
    </footer>

    <!-- JS import -->
    <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
    <script type="text/javascript" src="/js/recruit_religion_write.js"></script>
</body>
</html>