<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 이모티콘  CDN -->
    <script src="https://kit.fontawesome.com/6dca3e9c71.js" crossorigin="anonymous"></script>

    <!-- 폰트 설정 CDN -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap" rel="stylesheet">

    <!-- CSS import -->
    <link rel="stylesheet" href="/css/recruit_art.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">
   
    <!-- JS import -->
    <script type="text/javascript" src="/js/recruit_art.js"></script>

    <title>A-Supporter</title>
</head>
<body>
    <header id="header">
    </header>

    <section class="section" id="section">
        <div class="title">
            <a href="/recruit_art" class="art" id="art">예술단체</a>
            <a href="/recruit_religion" class="religion" id="religion">종교</a>
        </div>
        <article class="article">
            <div class="top">
                <ul>
                    <li><a href="/recruit" >전체</a></li>
                    <li><a href="/recruit/orchestra" >교향악단</a></li>
                    <li><a href="/recruit/choir" >합창</a></li>
                    <li><a href="/recruit/other" >기타</a></li>
                </ul>
                <form action="/recruit" class="search" method="get">
                    <div class="bottom_line">
                        <input type="text" name="search" placeholder="검색어를 입력해주세요."/>
                        <button class="fa-solid fa-magnifying-glass"></button>
                    </div>
                </form>
            </div>

            <div class="board" id="board">
            </div>

            <div class="paging">
                <div class="ctrlBack">
                    <a href="" id="leftStart">
                        <i class="arrow fa-solid fa-angles-left"></i>
                    </a>
                    <a href="" id="left" onclick="leftClick()">
                        <i class="arrow fa-solid fa-angle-left"></i>
                    </a>
                    <div class="pageNum" id="pageNum"></div>
                    <a href="" id="right" onclick="rightClick()">
                        <i class="arrow fa-solid fa-angle-right"></i>
                    </a>
                    <a href="" id="rightEnd">
                        <i class="arrow fa-solid fa-angles-right"></i>
                    </a>
                </div>
            </div>
        </article>
    </section>

    <footer id="footer">
        <div>문의 : chorales@naver.com</div>
    </footer>
</body>
</html>