<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
    <!-- 이모티콘  CDN -->
    <script src="https://kit.fontawesome.com/6dca3e9c71.js" crossorigin="anonymous"></script>

   
    <!-- 폰트 설정 CDN -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap" rel="stylesheet">
    
    <!-- CSS import -->
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">

    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Palette+Mosaic&display=swap" rel="stylesheet">
    
    <!-- favicon -->
    <link rel="shortcut icon" href="#">
    
    <title>ARTINFO</title>
</head>
<body>
    
    <header id="header">
        <div class="desktopHeader">
            <div class="logo">
                <a href="/">ARTINFO</a>
            </div>
            <nav>
                <li><a href="/about">소개</a></li>
                <li><a href="/recruit_art/all">채용정보</a></li>
            </nav>
            <div id="login" class="login">
                <a class="loginText" href="/login">로그인</a>
            </div>
        </div>    
    
        <div class="mobileHeader">        
            <nav>
                <i class="fa-solid fa-bars" onclick="clickMenu()"></i>
            </nav>
            <div class="logo">
                <a href="/">ARTINFO</a>
            </div>
            <div class="login"><a href="/login"><i class="fa-regular fa-user"></i></a></div>
        </div>
        <div id="mobileMenu" class="mobileMenu"> 
            <a href="/">Home</a>
            <a href="/about">소개</a>
            <a href="/recruit_art/all">채용정보</a>
        </div>
    </header>
    
    <section class="section" id="section">
        <div class="title">회원가입</div>
        <article class="article" id="article">
            <form action="signup_do" method="post">
                <div class="content">         
                    <div class="contentTitleBack">
                        <div class="contentTitle">아이디</div>
                        <p class="birthEX">4자 ~ 16자로 입력해주세요.</p>
                    </div>                              
                    <div class="inputBack">
                        <input id="checkIdInput" name="id" type="text">
                        <p id="checkId" class="checkId">중복 확인</p>
                        <p id="checkIdText" class="checkIdText"></p>
                    </div>                                        
                </div>                
                <div class="content">
                    <div class="contentTitle">비밀번호</div>
                    <div class="inputBack">
                        <input id="pwd" name="pwd" type="password">
                        <p id="checkPassword"></p>
                    </div>                    
                </div>
                <div class="content">
                    <div class="contentTitle">비밀번호 재확인</div>
                    <div id="pwd2" class="inputBack">
                        <input type="password">
                        <p id="checkPwd"></p>
                    </div>                    
                </div>
                <div class="content">
                    <div class="contentTitle">이름</div>
                    <div class="inputBack">
                        <input id="nameValue" name="name" type="text">
                        <p id="checkName"></p>
                    </div>                    
                </div>
                <div class="content">
                    <div class="contentTitleBack">
                        <div class="contentTitle">생년월일</div>
                        <p class="birthEX">EX) 19910710(8자)</p>
                    </div>                    
                    <div class="inputBack">
                        <input id="birth" class="birth" name="birth" type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true">
                        <p id="checkBirth"></p>
                    </div>                    
                </div>
                <div class="content">
                    <div class="contentTitle">성별</div>
                    <div class="inputBack">
                        <select id="gender" name="gender">
                            <option value="">성별</option>
                            <option value="man">남자</option>
                            <option value="woman">여자</option>
                            <option value="undefined">선택안함</option>
                        </select>
                        <p id="checkGender"></p>
                    </div>                    
                </div>
                <div class="content">
                    <div class="contentTitle">이메일</div>
                    <div class="inputBack">
                        <input id="emailValue" name="email"type="text">
                        <p id="checkEmail"></p>
                    </div>                       
                </div>                
                <input type="submit" class="signupButton" id="signupButton" disabled value="가입하기">
            </form>
        </article>   
    </section>
    
    <footer id="footer">
        <div>문의 : chorales@naver.com</div>
    </footer>

    <script src="//code.jquery.com/jquery.min.js"></script>
    <!-- JS import -->
    <script type="text/javascript" src="/js/signup.js"></script>
</body>
</html>