<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T9J2RH0SRC"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-T9J2RH0SRC');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
    <!-- 이모티콘  CDN -->
    <script src="https://kit.fontawesome.com/6dca3e9c71.js" crossorigin="anonymous"></script>

   
    <!-- 폰트 설정 CDN -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap" rel="stylesheet">
    
    <!-- CSS import -->
    <link rel="stylesheet" href="/css/signupCheck.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">

    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Palette+Mosaic&display=swap" rel="stylesheet">
    
    <!-- favicon -->
    <link rel="shortcut icon" href="/img/favicon.png">
    
    <title>아트인포 | 회원가입</title>
</head>
<body>
    
    <header id="header">
        <div class="desktopHeader">
            <div class="logo">
                <a href="/">ARTINFO</a>
            </div>
            <nav>
                <li><a href="/about">소개</a></li>
                <li><a href="/recruit_art/all">채용정보</a></li>
            </nav>
            <div id="login" class="login">
                <a class="loginText" href="/login">로그인</a>
            </div>
        </div>    
    
        <div class="mobileHeader">        
            <nav>
                <i class="fa-solid fa-bars" onclick="clickMenu()"></i>
            </nav>
            <div class="logo">
                <a href="/">ARTINFO</a>
            </div>
            <div class="login"><a href="/login"><i class="fa-regular fa-user"></i></a></div>
        </div>
        <div id="mobileMenu" class="mobileMenu"> 
            <a href="/">Home</a>
            <a href="/about">소개</a>
            <a href="/recruit_art/all">채용정보</a>
            <div class="logout">
                <a href="/login">로그인</a>
            </div>
        </div>
    </header>
    
    <section class="section" id="section">
        <div class="title">회원가입</div>
        <article class="article" id="article">
            <div class="checkBack1">
                <div class="signupCheckTitle">회원가입약관</div>
                <textarea spellcheck="false">
▶ [제1장 총 칙]

제1조. 목적

이 약관은 아트인포코리아(이하"회사"라 합니다)와 회원 간에 인터넷서비스(이하 "서비스" 라 합니다)의 이용조건 및 절차에 관한 기본적인 사항을 정함을 목적으로 합니다.

제2조. 정의

① "사이트"란 아트인포코리아가 재화, 용역 또는 서비스를 이용자에게 제공, 거래할 수 있도록 설정한 가상의 공간을 말합니다.

② "회사"란 사이트를 운영하는 사업자. 즉, 아트인포코리아를 의미 합니다.

③ "이용자"란 "사이트"에 접속하여 이 약관에 따라 "사이트"에서 제공하는 서비스를 받는 회원 및 비회원을 말합니다.

④ "회원"이라 함은 "사이트"에 개인정보를 제공하여 회원등록을 한 자로서, "사이트"의 정보를 지속적으로 제공받으며, "사이트"가 제공하는 서비스를 계속 적으로 이용할 수 있는 자를 말합니다.

⑤ "비회원"이라 함은 회원에 가입하지 않고 "사이트"가 제공하는 서비스를 이용하는 자를 말합니다. 

제3조. 약관의 명시와 개정

① 본 사이트는 이 약관의 내용과 상호, 영업소 소재지, 대표자의 성명, 사업자 등록번호, 연락처(전화, 팩스, 전자우편 주소 등) 등을 이용자가 알 수 있도록 아트인포코리아 사이트의 서비스 화면 하단에 게시합니다.

② 본 사이트는 약관의 규제 등에 관한 법률, 전자거래기본법, 전자서명법, 정보 통신망 이용촉진 등에 관한 법률, 소비자 보호법 등 관련법을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.

③ 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행약관과 함께 사이트의 초기화면에 그 적용일자 7일 이전부터 적용일자 전일까지 공지합니다.

④ 약관은 서비스 메뉴 또는 사이트 초기화면에 게시하여 공시하거나 기타의 방법으로 회원에게 공지함으로써 효력을 발생합니다.

⑤ 회사는 합리적인 사유가 발생될 경우에는 이 약관을 변경할 수 있으며, 약관이 변경된 경우에는 지체없이 제1항과 같은 방법으로 이를 공시 또는 공지합니다. 
⑥ 이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 전기통신기본법, 전기통신사업법, 정보통신망이용촉진등에관한법률 및 기타 관계법령 또는 상관례에 따릅니다. 

▶ [제2장 계약체결 및 해지]

제1조. 이용계약의 성립 및 체결 단위

① 이용자는 본 사이트가 정한 가입 양식에 따라 회원정보를 기입한 후 이 약관에 동의한다는 의사표시를 함으로서 회원가입을 신청합니다.

② 계약의 성립 시기는 일반 회원은 회원정보 등록 시점, 그외 회원은 본 사이트의 승낙이 회원에게 도달한 시점으로 합니다.

③ 서비스별 이용계약은 이용자ID 단위로 체결하며, 접속형태 및 접속회선에 따른 이용계약의 종류와 대량이용 등 특별한 서비스 이용에 관한 계약은 별도 계약에 의하여 제공합니다.

④ 회원이 가입신청양식에 기재하는 모든 정보는 실제 데이터인 것으로 간주되며 허위의 정보를 입력한 회원은 법적인 보호를 받을 수 없고, 서비스 사용의 제한을 받을 수 있습니다. 

제2조. 회원의 정보사용에 대한 동의 

① 회사는 적법하고 공정한 수단에 의하여 서비스 계약의 성립 및 이행에 필요한 성명, 주소, 전화번호 등 최소한의 개인정보를 수집하여야 합니다. 

② 이용자가 본 약관에 따라 이용신청을 하는 것은, 회사가 본 약관에 따라 이용신청서에 기재된 회원정보를 수집, 이용, 제공하는 것과 회사가 수집한 자신의 정보에 대하여 회사가 제정한 개인정보보호정책이 적용되는 것에 각 동의한 것으로 간주됩니다. 
③ 회원은 사용자정보수정페이지를 통하여 언제든지 개인정보에 대한 열람, 수정, 추가 및 삭제를 할 수 있습니다. 

제3조. 이용신청에 대한 불승낙과 승낙의 제한 

① 회사는 다음 각호에 해당하는 신청에 대하여는 승낙을 하지 아니합니다.
1. 타인 명의의 신청 또는 비실명으로 신청하는 경우
2. 허위서류를 첨부하거나 허위내용을 기재하여 신청한 경우
3. 신용정보의이용과보호에관한법률에 의한 PC통신·인터넷서비스의 신용불량자로 등록되어 있는 경우
4. 기타 이용신청고객의 귀책사유로 이용승낙이 곤란한 경우
5. 정보통신윤리위원회에 PC통신·인터넷서비스의 불량이용자로 등록되어 있는 경우
6. 사회의 안녕질서 또는 미풍양속을 저해할 목적으로 신청한 경우
7. 기타 회사가 정한 이용신청요건이 미비되었을 때

② 회사는 서비스 이용신청이 다음 각호에 해당하는 경우에는 그 신청에 대한 승낙 제한사유가 해소될 때까지는 승낙을 하지 않을 수 있습니다.
1. 회사가 설비의 여유가 없는 경우
2. 회사의 기술상 지장이 있는 경우
3. 기타 회사의 사정상 이용승낙이 곤란한 경우

③ 회사는 제1항 및 제2항의 규정에 의하여 이용신청이 불승낙되거나 승낙을 제한하는 경우에는 이를 이용신청고객에게 즉시 알려야 합니다.

④ 회사는 이용신청고객이 미성년자인 경우에는 별도로 정하는 바에 따라 승낙을 제한할 수 있습니다. 

제4조. 계약사항의 변경 

① 회사는 다음 각호에 해당하는 경우에는 회원과 합의하여 이용자ID를 변경할 수 있습니다.
1. 회원ID가 회원의 전화번호 또는 주민등록번호 등으로 등록되어 사생활 침해가 우려되는 경우
2. 타인에게 혐오감을 주거나 미풍양속에 어긋나는 경우
3. 기타 합리적인 사유가 있는 경우 

② 회원은 이용신청시 기재한 사항이 변경되었을 경우에는 온라인 및 기타 적절한 방법으로 수정하여야 하고 미변경으로 인하여 발생되는 문제의 책임은 회원에게 있습니다.

③ 회원은 본 사이트에 언제든지 탈퇴를 요청할 수 있으며, 본 사이트는 즉시 회원 탈퇴를 처리합니다.

④ 회원이 다음 각호의 사유에 해당하는 경우, 본 사이트는 회원 자격을 제한 및 정지시킬 수 있습니다.
1. 가입 신청시에 허위 내용을 등록한 경우
2. 본 사이트를 이용하여 구입한 재화, 용역 등의 대금, 기타 이용에 관련하여 회원이 부담하는 채무를 기일에 지급하지 않는 경우
3. 다른 사람의 이용을 방해하거나 그 정보를 도용하는 등 사이트의 질서를 위협하는 경우
4. 본 사이트를 이용하여 법령과 이 약관이 금지하거나 공서양속에 반하는 행위를 하는 경우

⑤ 회원 자격을 제한, 정지 당한 후, 동일한 행위가 2회 이상 반복되거나 30일 이내에 그 사유가 시정되지 아니하는 경우 본 사이트는 회원자격을 상실 시킬 수 있습니다.

⑥ 회원자격을 상실 시키는 경우에는 회원등록을 말소합니다. 이 경우 회원에게 이를 통지하고, 회원등록 말소 전에 소명할 기회를 부여합니다. 

▶ [제3장 계약당사자의 권리 및 의무]

제1조. 회사의 의무 

① 회사는 회원으로부터 제기되는 의견이나 불만이 정당하다고 인정할 경우에는 즉시 처리하여야 합니다. 다만, 즉시 처리가 곤란한 경우는 회원에게 그 사유와 처리일정을 서면, 전자우편 또는 전화등으로 통보하여야 합니다.

② 회사는 회사가 제정한 개인정보보호정책에 따라서 회원의 개인정보를 보호할 의무를 집니다. 

③ 회사가 제2항의 규정에도 불구하고 고지 또는 명시한 범위를 초과하여 회원의 개인 정보를 이용하거나 제3자에게 제공하고자 하는 경우에는 반드시 당해 회원에게 개별적으로 서면이나 전자우편으로통지하여 동의를 받아야 합니다. 

④ 회사는 계속적이고 안정적인 서비스의 제공을 위하여 설비에 장애가 생기거나 멸실된 때에는 지체없이 이를 수리 또는 복구합니다. 다만, 천재지변, 비상사태 또는 그밖에 부득이 한 경우에는 그 서비스를 일시 중단하거나 중지할 수 있습니다. 

⑤ 회사는 이용계약의 체결, 계약사항의 변경 및 해지등 회원과의 계약관련 절차 및 내용등에 있어 회원에게 편의를 제공하도록 노력합니다. 

⑥ 회사는 개인정보보호지침에 따라 회원의 개인정보를 취급함에 있어서 안정성 확보에 필요한 기술적 및 관리적 대책을 강구하여야 합니다. 

⑦ 회사는 개인정보의 수집목적 또는 제공받은 목적을 달성한 때에는 당해 개인정보를 지체없이 파기하여야 합니다. 다만, 다음 각호에 해당하는 경우에는 예외로 합니다.
1. 상법 등 법령의 규정에 의하여 보존할 필요성이 있는 경우
2. 보유기간을 미리 회원에게 고지하거나 명시한 경우 
3. 개별적으로 회원의 동의를 받은 경우 

제2조. 회원의 의무 

① 회원은 주소 및 연락처등 이용계약사항이 변경된 경우에는 이를 회사에 즉시 알려야 합니다.

② 회원은 공공의 안녕질서 또는 미풍양속을 해하는 다음 각호의 통신을 하여서는 아니됩니다. 
1. 범죄행위를 목적으로 하거나 범죄행위를 교사하는 등 범죄와 결부된다고 객관적으로 판단되는 행위
2. 다른 회원의 ID를 부정하게 사용하는 행위
3. 서비스에서 얻은 정보를 회사의 사전승낙 없이 회원의 이용 이외의 목적으로 복제하거나 이를 출판 및 방송 등에 사용하거나 제3자에게 제공하는 행위
4. 회사의 저작권, 제3자의 저작권 등 기타 타인의 권리를 침해하는 행위
5. 공공질서 및 미풍양속에 위반되는 내용의 정보, 문장, 도형 등을 타인에게 유포하는 행위
6. 기타 관계법령에 위반되는 행위
7. 선량한 풍속, 기타 사회질서를 해하는 내용
8. 회사의 업무수행에 지장을 초래하는 행위 

③ 회원은 이 약관에서 규정하는 사항과 서비스 이용안내 또는 주의사항을 준수하여야 하며 회사가 공지하거나 별도로 게시한 사항을 준수하여야 합니다. 

④ 회원은 회사의 사전 서면동의 없이 서비스를 이용하여 영업활동을 할 수 없으며, 이에 위반하여 발생한 결과에 대하여 회사는 책임지지 아니합니다. 

⑤ 회원은 회사의 명시적인 사전 서면동의가 없는 한 서비스의 이용권한, 기타 이용계약상 지위를 타인에게 양도, 증여할 수 없으며 이를 담보로 제공할 수 없습니다. 

⑥ 회원은 서비스를 이용하여 얻은 정보를 가공, 판매하는 행위 등 서비스에 게재된 자료를 상업적으로 사용할 수 없습니다. 

제3조. ID와 비밀번호 관리에 관한 회원의 의무

① ID와 비밀번호에 관한 모든 관리책임은 회원에게 있습니다. 회원에게 부여된 ID와 비밀번호의 관리소홀, 부정사용에 의하여 발생하는 모든 결과에 대한 책임은 회원에게 있습니다. 
② 자신의 ID가 부정하게 사용된 경우 회원은 반드시 회사에 그 사실을 통보해야 합니다. 

▶ [제4장 회원의 권리] 

제1조. 열람 및 정정 요구 

① 회사는 회원이 방문하거나 전자서명 또는 회원ID 등을 이용하여 자신의 개인정보에 대한 열람 또는 정정을 요구하는 경우에는 본인 여부를 확인하고 지체없이 필요한 조치를 취하여야 합니다. 

② 회사는 회원이 서비스 화면에서 자신의 개인정보에 대한 열람 또는 정정을 수행할 수 있도록 필요한 조치를 취하여야 합니다.

③ 회사는 회원의 대리인이 방문하여 열람 또는 정정을 요구하는 경우에는 대리관계를 나타내는 증표를 제시하도록 요구할 수 있습니다.

④ 회사는 제1항의 규정에 의하여 회원으로부터 개인정보 오류의 정정 요구를 받은 경우에는 그 오류를 정정할 때까지 당해 개인정보를 이용할 수 없습니다. 

제2조. 동의의 철회 

① 회사는 회원이 방문하거나 전자서명 또는 회원ID 등을 이용하여 제7조 규정에 의한 선택항목에 대한 동의를 철회하는 경우에는 본인 여부를 확인하고 지체없이 필요한 조치를 취하여야 합니다.

② 회사는 회원이 서비스 화면에서 자신의 개인정보에 대한 수집, 이용 또는 제공에 대한 동의를 철회할 수 있도록 필요한 조치를 취하여야 합니다. 

제3조. 불만처리 

① 회사는 개인정보와 관련하여 회원의 의견을 수렴하고 불만을 처리하기 위한 절차를 마련하여야 합니다.

② 회사는 전화, 전자우편 또는 서비스 화면의 상담창구 기타 적절한 방법을 통하여 회원의 불만사항을 접수·처리하여야 합니다. 

▶ [제5장 서비스의 제한 정지 등] 

제1조. 계약해지 및 이용제한 

① 회사는 회원이 다음 각호에 해당하는 경우에는 사전통지 없이 이용계약을 해지하거나 서비스의 전부 또는 일부의 이용을 제한할 수 있습니다.
1. 본 약관에 규정된 회원의 의무를 이행하지 아니한 경우
2. 서비스의 안정적 운영을 방해할 목적으로 다량의 정보를 전송하거나 수신자의 의사에 반하여 광고성 정보를 지속적으로 전송하는 경우
3. 광고성 정보를 전송할 목적으로 자동계정 생성프로그램이나 그밖의 기술적 장치를 이용하여 무단으로 가입 신청한 경우
4. 정보통신설비의 오작동이나 정보등의 파괴를 유발시키는 컴퓨터 바이러스 프로그램등을 유포 하는 경우 
5. 회사, 다른 회원 또는 제3자의 지적재산권을 침해하는 경우
6. 정보통신윤리위원회 등 외부기관의 시정요구가 있거나 불법선거운동과 관련하여 선거 관리위원회의 유권해석을 받은 경우
7. 타인의 이용자ID, 비밀정보 등 개인정보를 부정하게 사용하는 경우
8. 서비스 정보를 이용하여 얻은 정보를 회사의 사전 승낙없이 복제 또는 유통시키거나 상업적으로 이용하는 경우
9. 전기통신관련법령등 관계법령에 위반하는 행위를 하는 경우
10. 회사의 서비스 운영을 고의로 방해하는 경우
11. 가입한 이름이 실명이 아닌 경우
12. 1인의 회원이 각기 다른 ID로 이중등록을 한 경우
13. 공공질서 및 미풍양속에 저해되는 내용을 고의로 유포시킨 경우
14. 타인의 명예를 손상시키서나 불이익을 주는 행위를 한 경우
15. 회원이 자신의 홈페이지와 게시판에 음란물을 게재하거나 음란사이트를 링크한 경우
16. 본 약관을 포함하여 기타 회사가 정한 이용조건에 위반한 경우 

제2조. 이용제한에 대한 이의 등

① 제5장 제1조의 규정에 의하여 이용계약의 해지 또는 이용제한을 받게 된 회원은 위 조치에 대한 이의가 있을 때에는 이의신청을 할 수 있습니다.

② 회사는 제2조의 규정에 의한 이의신청에 대하여 그 확인을 위한 기간까지 이용정지를 일시 연기할 수 있으며, 그 결과를 회원에게 통지합니다. 

③ 회사는 이용정지 기간중에 그 이용정지 사유가 해소된 것이 확인된 경우에는 이용정지조치를 즉시 해제합니다. 

제3조. 회원의 게시물 

① 회사는 회원이 게시하거나 등록하는 서비스내의 내용물이 다음 각 호의 1에 해당한다고 판단되는 경우에는 사전통지 없이 삭제할 수 있습니다.
1. 다른 회원 또는 제3자를 비방하거나 중상모략으로 명예를 손상시키는 내용인 경우
2. 공공질서 및 미풍양속에 위반되는 내용인 경우
3. 범죄적 행위에 결부된다고 인정되는 내용일 경우
4. 회사의 저작권, 제3자의 저작권 등 기타 권리를 침해하는 내용인 경우
5. 회사에서 규정한 게시기간을 초과한 경우
6. 회원이 자신의 홈페이지와 게시판에 음란물을 게재하거나 음란사이트를 링크하는 경우
7. 기타 관계법령에 위반된다고 판단되는 경우 

제4조. 계약사항의 변경 

① 회원은 주소등 이용계약 내용을 변경하고자 하는 경우에는 이용계약 변경신청서나 서비스 또는 전화등 적절한 방법을 이용하여 변경할 수 있습니다. 

제5조. 서비스 제공의 중지 

① 회사는 다음 각 호에 해당하는 경우 서비스 제공을 중지할 수 있습니다.
1. 서비스용 설비의 보수 등 공사로 인한 부득이한 경우
2. 전기통신사업법에 규정된 기간통신사업자가 전기통신 서비스를 중지했을 경우
3. 기타 불가항력적 사유가 있는 경우

② 회사는 국가비상사태, 정전, 서비스 설비의 장애 또는 서비스 이용의 폭주 등으로 정상적인 서비스 이용에 지장이 있는 때에는 서비스의 전부 또는 일부를 제한하거나 중지할 수 있습니다. 

▶ [제6장 쇼핑몰] 

제1조. 서비스의 제공 및 변경 

① 쇼핑몰은 다음과 같은 업무를 수행합니다.
1. 재화 또는 용역에 대한 정보 제공 및 구매계약의 체결
2. 구매 계약이 체결된 재화 또는 용역의 배송
3. 기타 쇼핑몰이 정하는 업무

② 쇼핑몰은 재화의 품절 또는 기술적 사양의 변경 등의 경우에는 장차 체결되는 계약에 의해 제공할 재화·용역의 내용을 변경할 수 있습니다. 이 경우에는 변경된 재화·용역의 내용 및 제공일자를 명시하여 현재의 재화·용역의 내용을 게시한 곳에 그 제공일자 이전 7일부터 공지합니다.

③ 쇼핑몰이 제공하기로 이용자와 계약을 체결한 서비스의 내용을 재화의 품절 또는 기술적 사양의 변경 등의 사유로 변경할 경우에는 몰은 이로 인하여 이용자가 입은 손해를 배상합니다. 단, 몰의 고의 또는 과실이 없는 경우에는 그러하지 아니합니다. 

제2조. 구매신청 

① 쇼핑몰 이용자는 쇼핑몰 상에서 이하의 방법에 의하여 구매를 신청합니다.
1. 성명, 주소, 전화번호 입력
2. 재화 또는 용역의 선택
3. 결제방법의 선택
4. 이 약관에 동의한다는 표시(예, 마우스 클릭) 

제3조. 계약의 성립 

① 쇼핑몰은 제5장 제2조와 같은 구매신청에 대하여 다음 각호에 해당하지 않는 한 승낙합니다.
1. 신청 내용에 허위, 기재누락, 오기가 있는 경우
2. 기타 구매신청에 승낙하는 것이 쇼핑몰 기술상 현저히 지장이 있다고 판단하는 경우

② 쇼핑몰의 승낙이 제5조 제1항의 수신확인통지형태로 이용자에게 도달한 시점에 계약이 성립한 것으로 봅니다. 

제4조. 지급 방법 

① 쇼핑몰에서 구매한 재화 또는 용역에 대한 대금지급방법은 다음 각호의 하나 로 할 수 있습니다.
1. 계좌이체
2. 신용카드결제
3. 온라인무통장입금
4. 전자화폐에 의한 결제
5. 수령시 대금지급 등 

제5조. 수신확인통지, 구매신청 변경 및 취소 

① 쇼핑몰은 이용자의 구매신청이 있는 경우 이용자에게 수신확인통지를 합니다

② 수신확인통지를 받은 이용자는 의사표시의 불일치 등이 있는 경우에는 수신확인통지를 받은 후 즉시 구매신청 변경 및 취소를 요청할 수 있습니다. 

③ 쇼핑몰 은 배송 전 이용자의 구매신청 변경 및 취소 요청이 있는 때에는 지체 없이 그 요청에 따라 처리합니다. 

제6조. 배송

① 쇼핑몰은 이용자가 구매한 재화에 대해 배송수단, 수단별 배송비용 부담자, 수단별 배송기간 등을 명시합니다. 만약 쇼핑몰의 고의·과실로 약정 배송 기간을 초과한 경우에는 그로 인한 이용자의 손해를 배상합니다. 

제7조. 환급, 반품 및 교환

① 쇼핑몰은 이용자가 구매신청한 재화 또는 용역이 품절등의 사유로 재화의 인도 또는 용역의 제공을 할 수 없을 때에는 지체없이 그 사유를 이용자에게 통지하고, 사전에 재화 또는 용역의 대금을 받은 경우에는 대금을 받은 날부터 3일이내에, 그렇지 않은 경우에는 그 사유발생일로부터 3 일이내에 계약해제 및 환급절차를 취합니다. 

② 다음 각 호의 경우에는 쇼핑몰은 배송 된 재화일지라도 재화를 반품 받은 다음 영업일 이내에 이용자의 요구에 따라 즉시 환급, 반품 및 교환 조치를 합니다. 다만 그 요구기한은 배송 된 날로부터 20일 이내로 합니다.
1. 배송 된 재화가 주문내용과 상이하거나 몰 이 제공한 정보와 상이할 경우
2. 배송 된 재화가 파손, 손상되었거나 오염되었을 경우
3. 재화가 광고에 표시된 배송기간보다 늦게 배송 된 경우 

③ 단, 재화 등의 내용이 표시, 광고 내용 또는 계약내용과 다르게 이행된 경우에는, 당해 재화를 공급받은 날부터 3개월 이내, 그 사실을 안 날 또는 알 수 있었던 날부터 30일 이내에 청약철회를 할 수 있습니다. 

▶ [제7장 손해배상 등] 

제1조. 손해배상의 범위 및 청구

① 회사는 서비스로부터 회원이 받은 손해가 천재지변 등 불가항력적이거나 회원의 고의 또는 과실로 인하여 발생한 때에는 손해배상을 하지 아니합니다. 

제2조. 면책

① 회사는 회원이 회사의 서비스 제공으로부터 기대되는 이익을 얻지 못하 였거나 서비스 자료에 대한 취사선택 또는 이용으로 발생하는 손해등에 대해서는 책임지지 아니합니다.

② 회사는 회원의 귀책사유로 인하여 서비스 이용의 장애가 발생한 경우에는 책임지지 아니합니다. 

③ 회사는 회원이 게시 또는 전송한 자료 및 본 서비스로부터 회원이 제공받을 수 있는 모든 자료들의 진위, 신뢰도, 정확성 등 그 내용에 대해서는 책임지지 아니합니다.

④ 회사는 회원 상호간 또는 회원과 제3자 상호간에 서비스를 매개로 하여 물품거래등을한 경우에 그로부터 발생하는 일체의 손해에 대하여 책임지지 아니합니다.

⑤ 회사는 회사의 귀책사유 없이 회원간 또는 회원과 제3자간에 발생한 일체의 분쟁에 대하여 책임지지 아니합니다. 

⑥ 회사는 서버 등 설비의 관리, 점검, 보수, 교체 과정 또는 소프트웨어의 운용 과정에서 고의 또는 고의에 준하는 중대한 과실없이 발생할 수 있는 시스템의 장애, 제3자의 공격으로 인한 시스템의 장애, 국내외의 저명한 연구기관이나 보안관련 업체에 의해 대응방법이 개발되지 아니한 컴퓨터 바이러스 등의 유포나 기타 회사가 통제할 수 없는 불가항력적 사유로 인한 회원의 손해에 대하여 책임지지 않습니다. 

⑦ 제6항의 회원의 손해에는 (1) 회원이 본 서비스를 이용하여 작성하고 있거나 전송 중이거나 저장하거나 제3자로부터 수신 중이거나 수신한 전자우편, 그에 첨부된 파일, 저장중이거나 저장된 전자우편 주소록 기타 데이터의 손상이나 손실(이하 "데이터의 손상이나 손실")로 인한 경제적, 정신적 손해 (2) 이와 같은 데이터의 손상이나 손실로 인하여 회원이 본 서비스를 이용하여 수행하고자 한 사실행위 또는 제3자와의 계약 기타의 법률행위 등이 불가능해지거나 지연됨으로 인하여 회원에게 발생할 수 있는 경제적, 정신적 손해 등이 포함되며 이에 한정되지 않습니다. 

⑧ 제6항 내지 7항에도 불구하고 회사가 제공하는 무료서비스의 이용과 관련하여 회사의 고의없이 발생한 회원의 손해에 대하여는 책임을 지지 않습니다. 

⑨ 제6항 내지 8항에도 불구하고 회사는 데이터의 정기적인 백업을 실시함으로써 데이터의 복구 불능에 따른 회원의 피해를 최소화하도록 노력할 것이며, 회원 역시 데이터의 손상 등으로 인한 피해를 최소화하기 위하여 전자우편 주소록이나 중요한 전자우편이나 첨부파일, 기타 데이터의 경우 자신의 컴퓨터 등에 직접 저장하여야 합니다. 

제3조. 분쟁조정

① 회사와 회원은 개인정보에 관한 분쟁이 있는 경우 신속하고 효과적인 분쟁해결을 위하여 한국정보보호센터 내의 개인정보분쟁조정위원회에 그 처리를 의뢰할 수 있으며 소송이 제기될 경우 서울지방법원본원을 전속관할법원으로 합니다.

② 회사와 이용자간에 제기된 전자거래 소송에는 한국법을 적용합니다. 

③ 회사는 이용자가 제기하는 정당한 의견이나 불만을 반영하고 그 피해를 보상처리하기 위하여 피해보상처리기구를 설치·운영합니다. 

④ 회사는 이용자로부터 제출되는 불만사항 및 의견은 우선적으로 그 사항을 처리합니다. 다만, 신속한 처리가 곤란한 경우에는 이용자에게 그 사유와 처리일정을 즉시 통보해 드립니다. 

⑤ 회사는 이용자간에 발생한 분쟁은 전자거래기본법 제28조 및 동 시행령 제15조에 의하여 설치된 전자거래분쟁조정위원회의 조정에 따를 수 있습니다. 
                </textarea>
                <div class="checkboxBack">
                    <input id="signupCheck" type='checkbox' autocomplete="off"> 
                    <div>회원가입약관을 읽었으며 내용에 동의합니다.</div> 
                </div>                     
            </div>
            <div class="checkBack2">         
                <div class="signupCheckTitle">개인정보처리방침</div>       
                <textarea spellcheck="false">
▶ 총 칙 

① 개인정보란 생존하는 개인에 관한 정보로서 당해 정보에 포함되어 있는 성명, 주민등록번호 등의 사항에 의하여 당해 개인을 식별할 수 있는 정보(당해 정보만으로는 특정 개인을 식별할 수 없더라도 다른 정보와 용이하게 결합하여 식별할 수 있는 것을 포함합니다)를 말합니다. 

② 아트인포코리아는 귀하의 개인정보보호를 매우 중요시하며, 『정보통신망이용촉진및정보보호에관한법률』상의 개인정보보호규정 및 정보통신부가 제정한 『개인정보보호지침』을 준수하고 있습니다. 음악교육신문사은 개인정보보호정책을 통하여 귀하께서 제공하시는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다. 

③ 아트인포코리아는 개인정보보호정책을 홈페이지 첫 화면에 공개함으로써 귀하께서 언제나 용이하게 보실 수 있도록 조치하고 있습니다. 

④ 아트인포코리아는 개인정보보호정책의 지속적인 개선을 위하여 개인정보보호정책을 개정하는데 필요한 절차를 정하고 있습니다. 

▶ 개인정보 수집에 대한 동의 

① 아트인포코리아는 귀하께서 아트인포코리아의 개인정보보호방침 또는 이용약관의 내용에 대해 「동의함」버튼 또는 「동의안함」버튼을 클릭할 수 있는 절차를 마련하여, 「동의함」버튼을 클릭하면 개인정보 수집에 대해 동의한 것으로 봅니다. 

▶ 개인정보의 수집목적 및 이용목적 

① 아트인포코리아는 다음과 같은 목적을 위하여 개인정보를 수집하고 있습니다.
- 성명, 아이디, 비밀번호 : 회원제 서비스 이용에 따른 본인 식별 절차에 이용 
- 이메일주소, 전화번호 : 고지사항 전달, 본인 의사 확인, 불만 처리 등 원활한 의사소통 경로의 확보, 새로운 서비스/신상품이나 이벤트 정보의 안내 

② 단, 이용자의 기본적 인권 침해의 우려가 있는 민감한 개인정보(인종 및 민족, 사상 및 신조, 출신지 및 본적지, 정치적 성향 및 범죄기록, 건강상태 및 성생활 등)는 수집하지 않습니다. 

▶ 목적외 사용 및 제3자에 대한 제공 및 공유 

① 아트인포코리아는 귀하의 개인정보를 「개인정보의 수집목적 및 이용목적」에서 고지한 범위내에서 사용하며, 동 범위를 초과하여 이용하거나 타인 또는 타기업·기관에 제공하지 않습니다. 특히 다음의 경우는 주의를 기울여 개인정보를 이용 및 제공할 것입니다.
- 제휴관계 : 보다 나은 서비스 제공을 위하여 귀하의 개인정보를 제휴사에게 제공하거나 또는 제휴사와 공유할 수 있습니다. 개인정보를 제공하거나 공유할 경우에는 사전에 귀하께 제휴사가 누구인지, 제공 또는 공유되는 개인정보항목이 무엇인지, 왜 그러한 개인정보가 제공되거나 공유되어야 하는지, 그리고 언제까지 어떻게 보호·관리되는지에 대해 개별적으로 전자우편 및 서면을 통해 고지하여 동의를 구하는 절차를 거치게 되며, 귀하께서 동의하지 않는 경우에는 제휴사에게 제공하거나 제휴사와 공유하지 않습니다. 제휴관계에 변화가 있거나 제휴관계가 종결될 때도 같은 절차에 의하여 고지하거나 동의를 구합니다. 
- 위탁 처리 : 원활한 업무 처리를 위해 이용자의 개인정보를 위탁 처리할 경우 반드시 사전에 위탁처리 업체명과 위탁 처리되는 개인정보의 범위, 업무위탁 목적, 위탁 처리되는 과정, 위탁관계 유지기간 등에 대해 상세하게 고지합니다. 
- 매각·인수합병 등 : 서비스제공자의 권리와 의무가 완전 승계·이전되는 경우 반드시 사전에 정당한 사유와 절차에 대해 상세하게 고지할 것이며 이용자의 개인정보에 대한 동의 철회의 선택권을 부여합니다. 

② 고지 및 동의방법은 온라인 홈페이지 초기화면의 공지사항을 통해 최소 10일 이전부터 고지함과 동시에 이메일 등을 이용하여 1회 이상 개별적으로 고지하고 매각·인수합병에 대해서는 반드시 적극적인 동의 방법(개인정보의 제 3자 제공 및 공유에 대한 의사를 직접 밝힘)에 의해서만 절차를 진행합니다. 

③ 다음은 예외로 합니다.
- 관계법령에 의하여 수사상의 목적으로 관계기관으로부터의 요구가 있을 경우 
- 통계작성·학술연구나 시장조사를 위하여 특정 개인을 식별할 수 없는 형태로 광고주·협력사나 연구단체 등에 제공하는 경우 
- 기타 관계법령에서 정한 절차에 따른 요청이 있는 경우 
- 그러나 예외 사항에서도 관계법령에 의하거나 수사기관의 요청에 의해 정보를 제공한 경우에는 이를 당사자에게 고지하는 것을 원칙으로 운영하고 있습니다. 법률상의 근거에 의해 부득이하게 고지를 하지 못할 수도 있습니다. 본래의 수집목적 및 이용목적에 반하여 무분별하게 정보가 제공되지 않도록 최대한 노력하겠습니다. 

▶ 개인정보의 열람, 정정 

① 귀하는 언제든지 등록되어 있는 귀하의 개인정보를 열람하거나 정정하실 수 있습니다. 개인정보 열람 및 정정을 하고자 할 경우에는 『회원정보변경』을 클릭하여 직접 열람 또는 정정하거나, 개인정보관리책임자 및 담당자에게 서면, 전화 또는 E-mail로 연락하시면 지체없이 조치하겠습니다.

② 귀하가 개인정보의 오류에 대한 정정을 요청한 경우, 정정을 완료하기 전까지 당해 개인 정보를 이용 또는 제공하지 않습니다. 

③ 잘못된 개인정보를 제3자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체없이 통지하여 정정하도록 조치하겠습니다. 

▶ 개인정보 수집, 이용, 제공에 대한 동의철회 

① 회원가입 등을 통해 개인정보의 수집, 이용, 제공에 대해 귀하께서 동의하신 내용을 귀하는 언제든지 철회하실 수 있습니다. 동의철회는 홈페이지 첫 화면의 『정보변경』에서 "회원탈퇴"를 클릭하거나 개인정보관리책임자에게 서면, 전화, E-mail등으로 연락하시면 즉시 개인정보의 삭제 등 필요한 조치를 하겠습니다. 동의 철회를 하고 개인정보를 파기하는 등의 조치를 취한 경우에는 그 사실을 귀하께 지체없이 통지하도록 하겠습니다. 

② 음악교육신문사은 개인정보의 수집에 대한 동의철회(회원탈퇴)를 개인정보를 수집하는 방법보다 쉽게 할 수 있도록 필요한 조치를 취하겠습니다. 

▶ 개인정보의 보유기간 및 이용기간 

① 귀하의 개인정보는 다음과 같이 개인정보의 수집목적 또는 제공받은 목적이 달성되면 파기됩니다. 단, 상법 등 관련법령의 규정에 의하여 다음과 같이 거래 관련 권리 의무 관계의 확인 등을 이유로 일정기간 보유하여야 할 필요가 있을 경우에는 일정기간 보유합니다.
- 회원가입정보의 경우, 회원가입을 탈퇴하거나 회원에서 제명된 경우 등에는 사전에
보유목적, 기간 및 보유하는 개인정보 항목을 명시하여 동의를 구합니다.
- 계약 또는 청약철회 등에 관한 기록 : 5년
- 대금결제 및 재화등의 공급에 관한 기록 : 5년
- 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년 

② 귀하의 동의를 받아 보유하고 있는 거래정보 등을 귀하께서 열람을 요구하는 경우 음악교육신문사은 지체없이 그 열람·확인 할 수 있도록 조치합니다. 

▶ 개인정보보호를 위한 기술 및 관리적 대책 

① 기술적 대책
아트인포코리아는 귀하의 개인정보를 취급함에 있어 개인정보가 분실, 도난, 누출, 변조 또는 훼손되지 않도록 안전성 확보를 위하여 다음과 같은 기술적 대책을 강구하고 있습니다. 
- 귀하의 개인정보는 비밀번호에 의해 보호되며 파일 및 전송데이터를 암호화하거나 파일 잠금기능(Lock)을 사용하여 중요한 데이터는 별도의 보안기능을 통해 보호되고 있습니다. 
- 음악교육신문사은 백신프로그램을 이용하여 컴퓨터바이러스에 의한 피해를 방지하기 위한 조치를 취하고 있습니다. 백신프로그램은 주기적으로 업데이트되며 갑작스런 바이러스가 출현할 경우 백신이 나오는 즉시 이를 제공함으로써 개인정보가 침해되는 것을 방지하고 있습니다. 
- 아트인포코리아는 암호알고리즘을 이용하여 네트워크 상의 개인정보를 안전하게 전송할 수 있는 보안장치를 채택하고 있습니다. 
- 해킹 등 외부침입에 대비하여 각 서버마다 침입차단시스템 및 취약점 분석시스템 등을 이용하여 보안에 만전을 기하고 있습니다. 

② 관리적 대책
- 아트인포코리아는 귀하의 개인정보에 대한 접근권한을 최소한의 인원으로 제한하고 있습니다. 그 최소한의 인원에 해당하는 자는 다음과 같습니다.
· 이용자를 직접 상대로 하여 마케팅 업무를 수행하는 자
· 개인정보관리책임자 및 담당자 등 개인정보관리업무를 수행하는 자
· 기타 업무상 개인정보의 취급이 불가피한 자 
- 개인정보를 취급하는 직원을 대상으로 새로운 보안 기술 습득 및 개인정보 보호 의무 등에 관해 정기적인 사내 교육 및 외부 위탁교육을 실시하고 있습니다. 
- 입사 시 전 직원의 보안서약서를 통하여 사람에 의한 정보유출을 사전에 방지하고 개인정보보호정책에 대한 이행사항 및 직원의 준수여부를 감사하기 위한 내부절차를 마련하고 있습니다. 
- 개인정보 관련 취급자의 업무 인수인계는 보안이 유지된 상태에서 철저하게 이뤄지고 있으며 입사 및 퇴사 후 개인정보 사고에 대한 책임을 명확화하고 있습니다. 
- 개인정보와 일반 데이터를 혼합하여 보관하지 않고 별도의 서버를 통해 분리하여 보관하고 있습니다. 
- 전산실 및 자료 보관실 등을 특별 보호구역으로 설정하여 출입을 통제하고 있습니다. 
- 아트인포코리아는 이용자 개인의 실수나 기본적인 인터넷의 위험성 때문에 일어나는 일들에 대해 책임을 지지 않습니다. 회원 개개인이 본인의 개인정보를 보호하기 위해서 자신의 ID 와 비밀번호를 적절하게 관리하고 여기에 대한 책임을 져야 합니다. 
- 그 외 내부 관리자의 실수나 기술관리 상의 사고로 인해 개인정보의 상실, 유출, 변조, 훼손이 유발될 경우 아트인포코리아는 즉각 귀하께 사실을 알리고 적절한 대책과 보상을 강구할 것입니다. 

▶ 개인정보보호를 위한 기술 및 관리적 대책

① 개인정보 관리책임자 및 담당자의 소속, 성명 및 연락처
아트인포코리아는 귀하가 좋은 정보를 안전하게 이용할 수 있도록 최선을 다하고 있습니다. 개인정보를 보호하는데 있어 귀하께 고지한 사항들에 반하는 사고가 발생할 경우 개인정보관리책임자가 책임을 집니다.
그러나, 사용자 개인정보와 관련한 아이디(ID)의 비밀번호에 대한 보안유지책임은 해당 이용자 자신에게 있습니다. 음악교육신문사에서는 비밀번호에 대해 어떠한 방법으로도 이용자에게 직접적으로 질문하는 경우는 없으므로 타인에게 비밀번호가 유출되지 않도록 각별히 주의하시기 바랍니다. 특히, 공공장소에서 온라인상에서 접속해 있을 경우에는 더욱 유의하셔야 합니다. 
음악교육신문사은 개인정보에 대한 의견수렴 및 불만처리를 담당하는 개인정보 관리책임자 및 담당자를 지정하고 있으며, 연락처는 아래와 같습니다.

개인 정보 관리 책임자 및 담당자 : 조태현 (e-biz팀/팀장)

① 아트인포코리아는 고객 센타 안내
음악교육신문사 고객의 불만처리와 관련된 개인정보의 관리를 위한 고객센터를 운영하고 있습니다.

- 근무시간 : 평일 9:00~18:00 (동절기 - 10:00~19:00)
- 토요일 및 일요일, 공휴일은 휴무입니다.
- 점심시간은 동절기,하절기 관계없이 12:30~13:30 입니다.
- 등기우편 : 서울시 동작구 사당동 188-37 B03
아트인포코리아 개인정보 관리 담당자 앞.

기타 개인정보에 관한 상담이 필요한 경우에는 개인정보침해신고센터 등으로 문의하실 수 있습니다.
- 개인정보침해신고센터 (전화 : 1336) 
                </textarea>
                <div class="checkboxBack">
                    <input id="personalInfoCheck" type='checkbox' autocomplete="off"> 
                    <div>위의 개인정보 수집에 동의 합니다.</div>  
                </div>                                   
            </div>
            <div class="buttonBack">
                <button disabled id="pass">확인</button>
                <a href="/"><button id="cancel">취소</button></a>
            </div>    
        </article>   
    </section>
    
    <footer id="footer">   
        <div class="ad_fit1">
            <ins class="kakao_ad_area" style="display:none;" 
            data-ad-unit    = "DAN-PgHV76O2ZNxrnKWW" 
            data-ad-width   = "320" 
            data-ad-height  = "50"></ins> 
        </div>     
        <div class="footerText">문의 : chorales@naver.com</div>       
        <div class="ad_fit2">
            <ins class="kakao_ad_area" style="display:none;" 
            data-ad-unit    = "DAN-27ykCGeamZlU7nSD" 
            data-ad-width   = "320" 
            data-ad-height  = "50"></ins> 
        </div>
    </footer>

    <!-- JS import -->
    <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
    <script type="text/javascript" src="/js/signupCheck.js"></script>
</body>
</html>