<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button id="btn-hello" onclick="() => { document.getElementById('btn-world').disabled = true}">Say Hello</button>
<button id="btn-world"  onclick="alert('World');">Say World</button>
<script>
var btn = document.getElementById('btn-world');
btn.disabled = true;
</script>
</body>

</html>