.section {
    width: 100%;
  }
  
  .section .title {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    animation: title 2s 1 forwards;
  }
  
  .section .article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .section 
  .article 
  .guestCountBack {
    margin: 30px 0;
    font-size: 30px;
  }
  
  .section .article .board {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65%;
    width: 80%;
  }
  
  .section .article .board table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin: 30px 0;
  }
  
  .section .article .board table thead {
    height: 4rem;
  }
  
  .section .article .board table thead tr td {
    border-top: 2px solid black;
  }
  
  .section .article .board table tbody {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-size: 1rem;
  }
  
  .section .article .board table tbody tr {
    height: 3rem;
  }
  
  .section .article .board table tbody tr td {
    padding: 5px 0;
  }
  
  .section .article .board table tbody tr td {
    border-bottom: 2px solid rgb(170, 169, 169);
  }
  .section .article .board table tbody tr td a {
    color: black;
  }
  
  .section .article .board table tbody tr:last-child td {
    border-bottom: 2px solid black;
  }
  
  .section .article .ctrl {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .section .article .ctrl form {
    height: 30px;
    width: 200px;
    margin: 0 20px;
  }
  
  .section .article .ctrl button {
    height: 30px;
    width: 200px;
    margin: 0 16px;
    cursor: pointer;
  }
  
  .section .article .ctrl button a {
    color: black;
  }
  
  @keyframes title {
    from {
      margin-left: -100px;
      opacity: 0;
    }
    to {
      margin-left: 0;
      opacity: 1;
    }
  }
  
  @media screen and (max-width: 1182px) {
    .section .title {
      display: none;
    }
  }