.section {
    width: 100%;
}

.section .title {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    animation: title 2s 1 forwards;
}

@keyframes title {
    from {
        margin-left: -100px;
        opacity: 0;
    }
    to {
        margin-left: 0;
        opacity: 1;
    }
}
