body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100vw;
}

header
.logo
a {
    font-family: 'Fredoka One', cursive;
    color: black;
    text-decoration: none;
    font-size: 40px
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 50%;
    border-top: 2px solid rgb(170, 169, 169);
    border-bottom: 2px solid rgb(170, 169, 169);
}

section
.mainHigh {
    width: 70%;
    font-size: 20px;
    margin: 20px 0;
    font-weight: bold;
    text-align: center;
}

section
.mainCenter {
    text-align: center;
    width: 70%;
    font-size: 20px;
    margin: 20px 0;
}