header {
    width: 100vw;
    height: 12vh;
  }
  
  header .header1 {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100%;
  }
  
  header .header1 .logo {
    height: 100%;
    width: 16vw;
  }
  
  header .header1 .logo a {
    height: 100%;
    width: 100%;
  }
  
  header .header1 .logo a img {
    height: 100%;
    width: 100%;
  }
  
  header .header1 nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 68vw;
  }
  header .header1 nav li {
    padding: 0 0.5rem;
    margin: 0 5rem;
  }
  
  header .header1 nav li:hover {
    border-bottom: 3px solid black;
    transition: 0.1s linear;
  }
  
  header .header1 nav li a {
    font-size: 1.5rem;
    color: black;
  }
  
  header .header1 .login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 16vw;
  }
  
  header .header1 .login a {
    font-size: 1.5rem;
    padding: 0 0.5rem;
    color: black;
  }
  
  header .header1 .login a:hover {
    border-bottom: 3px solid black;
    transition: 0.1s linear;
  }
  
  @media screen and (max-width: 1181px) {
    header .header1 nav {
      width: 20%;
    }
  
    header .header1 nav i {
      font-size: 2rem;
    }
  
    header .header1 .logo {
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
    }
  
    header .header1 .logo a img {
      width: 100%;
      height: 100%;
    }
  
    header .header1 .login {
      width: 20%;
    }
  
    header .header1 .login i {
      font-size: 2rem;
      color: black;
    }
  
    header .header1 .login a:hover {
      border-bottom: none;
    }
  
    /* Nav Down */
    .header2 {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: black;
      position: relative;
      height: 240px;
      background-color: white;
      border-top: 3px solid black;
      border-bottom: 3px solid black;
      margin-top: 16px;
      z-index: 1;
    }
  
    .header2 li {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  
    .header2 li a {
      font-size: 20px;
      color: black;
    }
  
  }