section {
  width: 100vw;
}

section
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/main.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat; 
  height: 600px;

}

section
.banner
.banner_text_back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

section
.banner
.banner_text_back
.banner_text1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
  margin-top: 0 px;
  margin-bottom: 20px;
  font-size: 30px;
  animation: text1 4s 1 forwards;
}

@keyframes text1 {
  from {
    margin-top: -120px;
    opacity: 0;
  }
  to {
    margin-top: -100px;
    opacity: 1;
  }
}

section
.banner
.banner_text_back
.banner_text2 {  
  display: flex;
  font-family: 'Fredoka One', cursive;
  font-size: 100px;
}

section
.banner
.banner_text_back
.banner_text2
p {
  margin: 0;
  animation: p 3s 1 forwards;
}

@keyframes p {
  from {
    margin-left: -100px;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}

  
section 
.articlePoster {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  width: 100%;
  height: 800px;
}

section 
.articlePoster
.left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 30%
}

section 
.articlePoster
.left 
img {
  margin: 10px 0;
  height: 360px;
  width: 280px;
}

section 
.articlePoster
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40%
}

section 
.articlePoster
.center 
img {
  height: 720px;
  width: 560px;
}

section 
.articlePoster
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 30%
}

section 
.articlePoster
.right 
img {
  margin: 10px 0;
  height: 360px;
  width: 280px;
}

section 
.articleBoard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 550px;
}

section 
.articleBoard
.boardLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2%;
  border-top: 2px solid rgb(170, 169, 169);
  height: 100%;
  width: 41%;
}

section 
.articleBoard
.boardLeft
table {
  border-collapse: collapse;
}

section 
.articleBoard
.boardLeft
table
thead
tr
td:nth-child(1) {
  font-size: 20px;
  margin-left: 100px;
  height: 80px;
  width: 420px;
  border-bottom: 2px solid black;
}

section 
.articleBoard
.boardLeft
table
thead
tr
td:nth-child(2) {
  font-size: 20px;
  text-align: end;
  height: 80px;
  width: 200px;
  border-bottom: 2px solid black;
}

section 
.articleBoard
.boardLeft
table
thead
tr
td:nth-child(2)
a {
  color: black;
}

section 
.articleBoard
.boardLeft
table
tbody
tr
td:nth-child(1) {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
  height: 50px;
  width: 420px;
  border-bottom: 1px solid rgb(170, 169, 169);
}

section 
.articleBoard
.boardLeft
table
tbody
tr
td:nth-child(1)
a {
  color: black;
}

section 
.articleBoard
.boardLeft
table
tbody
tr
td:nth-child(2) {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
  height: 50px;
  width: 200px;
  text-align: right;
  border-bottom: 1px solid rgb(170, 169, 169);
}

section 
.articleBoard
.boardRight {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
  border-top: 2px solid rgb(170, 169, 169);
  height: 100%;
  width: 41%;
}

section 
.articleBoard
.boardRight
table {
  border-collapse: collapse;
}

section 
.articleBoard
.boardRight
table
thead
tr
td:nth-child(1) {
  font-size: 20px;
  margin-left: 100px;
  height: 80px;
  width: 420px;
  border-bottom: 2px solid black;
}

section 
.articleBoard
.boardRight
table
thead
tr
td:nth-child(2) {
  font-size: 20px;
  text-align: end;
  height: 80px;
  width: 200px;
  border-bottom: 2px solid black;
}

section 
.articleBoard
.boardRight
table
thead
tr
td:nth-child(2)
a {
  color: black;
}

section 
.articleBoard
.boardRight
table
tbody
tr
td:nth-child(1) {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
  height: 50px;
  width: 420px;
  border-bottom: 1px solid rgb(170, 169, 169);
}

section 
.articleBoard
.boardRight
table
tbody
tr
td:nth-child(1)
a {
  color: black;
}

section 
.articleBoard
.boardRight
table
tbody
tr
td:nth-child(2) {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
  height: 50px;
  width: 200px;
  text-align: right;
  border-bottom: 1px solid rgb(170, 169, 169);
}

@media screen and (max-width: 1201px) {
  section
  .banner {
    justify-content: flex-start;
    height: 400px;
  }

  section
  .banner
  .banner_text1 {
    font-size: 30px;
  }

  @keyframes text1 {
    from {
      margin-top: 70px;
      opacity: 0;
    }
    to {
      margin-top: 90px;
      opacity: 1;
    }
  }

  section
  .banner
  .banner_text2 {  
    font-size: 60px;
  }

  section 
  .articlePoster
  .left {
    display: none;
    width: 0%;
  }

  section 
  .articlePoster {
    padding: 10px 0;
  }

  section 
  .articlePoster
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
  }

  section 
  .articlePoster
  .center 
  img {
    height: 70%;
    width: 100%;
  }

  section 
  .articlePoster
  .right {
    display: none;
    width: 0%;
  }

  section 
  .articleBoard {
    flex-direction: column;
  }

  section 
  .articleBoard
  .boardLeft {
    width: 90%;
  }

  section 
  .articleBoard
  .boardRight {
    margin: 100px 0;
    width: 90%;
  }
  
}

@media screen and (max-width: 1181px) {
  @keyframes text1 {
    from {
      margin-top: -80px;
      opacity: 0;
    }
    to {
      margin-top: -60px;
      opacity: 1;
    }
  }

  section 
  .articlePoster {
    height: 500px;
  }
}

@media screen and (max-width: 500px) {
  section
  .banner
  .banner_text_back
  .banner_text2 {  
    font-size: 50px;
  }
}