section {
  width: 100vw;
  height: 76vh;
}
  
section .article {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

section .article .line1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 100%;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
}

section .article .line1 .line2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  transition: 0.25s linear;
}

section .article .line1 .line2 .fa-solid {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  width: 5%;
  cursor: pointer;
}

section .article .line1 .line2 .posterBack {
  height: 80%;
  width: 95%;
  overflow: hidden;
}

section .article .line1 .line2 .posterBack ul {
  display: flex;
  position: relative;
  height: 100%;
  width: 140%;
  left: -20%;
  margin: 0;
  padding: 0;
}

section .article .line1 .line2 .posterBack ul li {
  margin: 0 0.5%;
  height: 100%;
  width: 25%;
}

section .article .line1 .line2 .posterBack ul li a {
  height: 100%;
  width: 100%;
}

section .article .line1 .line2 .posterBack ul li img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1600px) {
  section .article .line1 {
    height: 80%;
  }

  section .article .line1 .line2 .posterBack {
    height: 90%;
  }

  section .article .line1 .line2 .posterBack ul {
    width: 233.5%;
    left: -33.5%;
  }
}

@media screen and (max-width: 800px) {
  section .article .line1 .line2 .fa-solid  {
    font-size: 2rem
  }

  section .article .line1 .line2 .posterBack {
    height: 80%;
    width: 95%;
    overflow: hidden;
  }

  section .article .line1 .line2 .posterBack ul {
    display: flex;
    position: relative;
    height: 100%;
    width: 700%;
    left: -100%;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 1181px) {
  section .article .line1 .line2 .fa-solid  {
    font-size: 1.5rem
  }

  header .header1 nav {
    width: 20%;
  }

  header .header1 nav i {
    font-size: 2rem;
  }

  header .header1 .logo {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }

  header .header1 .logo a img {
    width: 100%;
    height: 100%;
  }

  header .header1 .login {
    width: 20%;
  }

  header .header1 .login i {
    font-size: 2rem;
    color: black;
  }

  header .header1 .login a:hover {
    border-bottom: none;
  }

  /* Nav Down */
  .header2 {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    position: relative;
    height: 240px;
    background-color: white;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    margin-top: 16px;
    z-index: 1;
  }

  .header2 li {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header2 li a {
    font-size: 20px;
    color: black;
  }

}