.section {
    width: 100%;
}

.section 
.title {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    animation: title 2s 1 forwards;
}

@keyframes title {
    from {
        margin-left: -100px;
        opacity: 0;
    }
    to {
        margin-left: 0;
        opacity: 1;
    }
}

.section 
.title 
a {
    color: black;
}

.section 
.title 
a:hover {
    border-bottom: 3px solid black;
    font-weight: bold;
}

.section 
.article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
}

.section 
.article
.subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.section 
.article
.mobileType {
    display: none;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.section 
.article
.mobileType
table {    
    border-collapse:collapse;
}

.section 
.article
.mobileType
table
tbody
tr
td {
    text-align: center; 
    height: 40px;
    border: 2px solid black;    
    color: black;
}

.section 
.article
.type {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.section 
.article
.type
table {    
    border-collapse:collapse;
}

.section 
.article
.type
table
tbody
tr
td {
    text-align: center; 
    height: 40px;
    border: 2px solid black;    
    color: black;
}

.section
.article
.type
table
tr
td:nth-child(1) {
    width: 70px;
}

.section
.article
.type
table
tr
td:nth-child(2) {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
    width: 140px;
}

.section
.article
.type
table
tr
td:nth-child(3) {
    width: 100px;
}

.section
.article
.type
table
tr
td:nth-child(4) {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
    width: 300px;
}

.section
.article
.type
table
tr
td:nth-child(5) {
    width: 100px;
}

.section
.article
.type
table
tr
td:nth-child(6) {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
    width: 150px;
}

.section 
.article
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.section 
.article
.content
textarea {
    resize: none;
    border: none;
    padding: 20px 0;
    line-height: 30px;
    font-size: 20px;
    width: 90%
}

.section 
.article
.content
textarea:focus {
    outline: none;
}

.section
.article
.ctrlButton{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section
.article
.ctrlButton
button {
    margin: 20px 10px;
    border: none;
    cursor: pointer;
    color: black;
    border-radius: 10px;
    height: 30px;
    width: 200px;
}

.section
.article
.ctrlButton
button:hover {
    font-weight: bold;
    border: 2px solid black;
    background-color: white;
}

@media screen and (max-width: 1182px) {

    .section 
    .article
    .subtitle {
        font-size: 10px;
    }

    .section 
    .article
    .type {
        display: none;
    }

    .section 
    .article
    .mobileType {
        display: flex;
    }
    .section 
    .article
    .content {
        width: 100%;
    }

    .section 
    .article
    .content
    textarea {
        width: 90%;
    }

    .section
    .article
    .ctrlButton{
        flex-direction: column;
    }
}